.multi-selected{ 
  position: absolute; 
  margin-left: 440px; 
  top: 0; 
  border-left: 1px solid #aaa; 
  padding-left: 20px;
  }
  .multi-choices{ 
    position: relative; 
    width: 440px;
    }
  .multi-optgroup,
  .multi-items,
  .multi-selected ul{ 
    background: #fff;
    border: 1px solid #aaa;
    font-size: 13px;
    padding: 4px;    
    height: 200px;
    width: 200px;
    overflow-y: scroll;
    z-index: 999;
    }
    .multi-items{ 
      position: absolute;
      left: 209px; 
      top: 0px;
      margin: 0;
      } 
      .multi-optgroup li{ position: relative; }
      .multi-choices li,
      .multi-selected li{
        border: 1px solid rgba(0, 0, 0, 0);
        cursor: pointer;
        line-height: 100%;
        padding: 7px 20px 7px 8px;
        margin: 0 0 2px 0;
        list-style: none;
        }
      .multi-items li,
      .multi-selected li{ display: none; }
      .multi-items li.current,
      .multi-selected li.active{ display: block; }
      .multi-optgroup li.selected{
        background: #3875d7;
        border: 1px solid rgba(0, 0, 0, .20);
        color: #fff;
        }
    .multi-items li{ 
      color: #2F3437; 
      padding-right: 21px;
      position: relative;
      }
    .multi-items li.active,
    .multi-selected li{ 
      background-color: #e4e4e4;
      border: 1px solid #b4b4b4;
      -webkit-border-radius: 3px;
      -moz-border-radius   : 3px;
      border-radius        : 3px;
      color: #333;
      position: relative; 
      }
      
    .multi-selected li{ display: none; }
    .multi-selected li.active{ display: block; }

    .multi-items li.toggle,
    .multi-selected li.toggle{ 
      background-color: #8FBE00;
      border: 1px solid rgba(0, 0, 0, .20); 
      -webkit-border-radius: 0px;
      -moz-border-radius   : 0px;
      border-radius        : 0px;
      color: #fff; 
      font-weight: bold; 
      font-family: Helvetica, Arial, sans-serif;
      font-size: 90%;
      text-shadow: #729800 0px 1px 1px;
      }
    .multi-items li.toggle-off,
    .multi-selected li.toggle-off{        
      background-color: #C75233;
      color: #fff; 
      text-shadow: #8c3a24 0px 1px 1px;
      }
      
    .multi-optgroup li span{ 
      background-color: #e4e4e4;
      border: 1px solid #c6c6c6;
      color: #2F3437;
      display: block;
      position: absolute;
      right: 5px;
      top: 4px;
      padding: 2px;
      width: 14px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      text-align: center;
      font-size: 80%;
      font-weight: bold;
      }
    .multi-optgroup li.selected span{
      background-color: #244B8A;
      color: white;
      border: 1px solid #244B8A;
      }
    
    .multi-items li span,
    .multi-items li.active span,
    .multi-items .toggle-on span,
    .multi-selected li span{ 
      display: block; 
      width: 11px; 
      height: 10px; 
      position: absolute; 
      top: 8px; 
      right: 6px;
      }
    
    .multi-items li span{ }
    
    .multi-items li.active:hover span,
    .multi-selected li:hover span{ }
    
    .multi-items li:hover span{  }
    
    .multi-items .toggle-on span,
    .multi-items .toggle-on:hover span{  }
    
    .multi-items .toggle-off span,
    .multi-items .toggle-off:hover span,
    .multi-selected .toggle span,
    .multi-selected .toggle:hover span{ 
      width: 13px; 
      height: 14px; 
      top: 6px; 
      right: 5px;  
      }